h3 {
}
label {
  display: inline-block;
  width: 7em;
  margin: .5em 0;
  font-weight: bold;
  color: #607D8B;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  /*background-color: #eee;*/
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.section {
  margin: 32px 8px 8px 0;
}
.section h3 {
  background-color: #eee;
  margin: 0 0 8px 0;
  padding: 4px;
}

ul.timeTrack {
  margin: 0;
  padding: 0;
}
ul.timeTrack li {
  list-style-type: none;
  display: inline-block;
}
div.timeTrackSpaceContainer {
  margin: 0 5px 0 5px;
}

div.timeTrackSpace {
  display: inline-block;
  border: 1px solid gray;

  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

div.timeTrackSpace.currentTick {
  border: 1px solid darkred;
  background-color: lightpink;
}

.timeTracker {
  width: 3px;
  height: 5px;
  margin: 1px 0 8px 0;
  border: 1px solid gray;
  visibility: hidden;
}
.timeTracker.bluePlayer {
  margin-right: 2px;
}
.timeTracker.showTimeTracker {
  visibility: visible;
}

.bluePlayer {
  background-color: #336699;
  color: white;
}
.bluePlayer h4 {
  background-color: #1f3366;
}
.redPlayer {
  background-color: #993333;
  color: white;
}
.redPlayer h4 {
  background-color: #661f1f;
}

/* player stats */
.playerStats {
  margin: 0 8px 0 0;
  padding: 0;
  border: 2px solid #333;
}
.playerStats h4 {
  font-size: 1.25em;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #333;
  vertical-align: top;
}
.statBlock {
  padding: 0 15px;
  line-height: 1em;
}
.statBlock label {
  color: #ffffff;
}

/* market */
ul.market {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card {
  display: inline-block;
  border: 1px solid black;
  width: 144px;
  height: 219px;
  margin: 15px 15px 0 0;
}
.cardHeader {
  line-height: 28px;
  background-color: gainsboro;
  border-bottom: 1px solid black;
  padding: 0 5px 0 5px;
}
/* clearfix */
.cardHeader:after {
  content: "";
  clear: both;
  display: table;
}
.cardStats {
  float: right;
}
.cardManaCost {
  margin: 3px 3px 0 0;
  padding: 0 3px;
  background-color: white;
  border: 1px solid black;
  line-height: 20px;
  width: 14px;
  text-align: center;
  display: inline-block;
}
.cardCastingTime {
  margin: 3px 0;
  padding: 0 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 20px;
  width: 14px;
  text-align: center;
  display: inline-block;
}

/* hand */
ul.hand {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* hand and market action rows */
.actions {
  margin: 16px 0 8px 0;
}
.actions button {
  margin: 0;
}
