/* player stats block */
.playerStats {
  margin: 0 8px 0 0;
  padding: 0;
}
.statsRow {
  padding: 0 15px;
  margin-bottom: 8px;
  line-height: 1em;
}
.statsRow label {
  width: auto;
  color: #ffffff;
}
.statsRow div {
  display: inline-block;
  margin-right: 10px;
}
.ritualStats {
  float: right;
}

/* player active card */
.activeCard {
  margin-right: 15px;
  margin-top: 14px;
  margin-left: 10px;
  padding: 6px;
  vertical-align: center;
  float: left;
  width: 150px;
  height: 164px;
  border: 1px solid #999;
}
.activeCard .card {
  margin: 0;
}

.bluePlayer + .activeCard {
  background-color: #336699;
}
.redPlayer + .activeCard {
  background-color: #993333;
}

.ritual {
  margin-left: 4px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 16px;
  border: 1px solid #666;
  min-height: 165px;
}
.bluePlayer ~ .ritual {
  background-color: #A3B1BF;
}
.redPlayer ~ .ritual {
  background-color: #FBBABD;
}

