<div class="column-container playerStatsContainer">
  <div class="column playerStats">
    <div class="statsRow bluePlayer">
      <div class="playerStats">
        <div>
          <label>H</label> x {{bluePlayer.health}}
        </div>
        <div>
          <label>M</label> x {{bluePlayer.mana}}
        </div>
        <div>
          <label>Cards</label> x {{bluePlayer.numberOfCardsInHand}}
        </div>
      </div>

      <div class="ritualStats">
        <div>
          <label>Effect:</label> {{bluePlayer.ritual.effect}}
        </div>
        <div>
          <label>Element:</label> {{bluePlayer.ritual.element}}
        </div>
        <div>
          <label>Power:</label> {{bluePlayer.ritual.power >= 0 ? '+' : ''}}{{bluePlayer.ritual.power}}
        </div>
      </div>

      <div class="switchUser">
        <div>
          <a (click)="switchToUser('blue')">[Switch to Blue]</a>
        </div>
      </div>
    </div>

    <div class="cardArea">
      <div class="activeCard">
        <app-card-set *ngIf="bluePlayer.activeCard" [cards]="[bluePlayer.activeCard]"></app-card-set>
      </div>

      <div class="ritual" *ngIf="playerHasRitual(bluePlayer)">
        <app-card-set [cards]="bluePlayer.ritual.cards" [updatedCardNames]="blueRitualUpdates"></app-card-set>
      </div>
    </div>
  </div>

  <div class="column playerStats">
    <!--<h4>Red Player</h4>-->
    <div class="statsRow redPlayer">
      <div class="playerStats">
        <div>
          <label>H</label> x {{redPlayer.health}}
        </div>
        <div>
          <label>M</label> x {{redPlayer.mana}}
        </div>
        <div>
          <label>Cards</label> x {{redPlayer.numberOfCardsInHand}}
        </div>
      </div>

      <div class="ritualStats">
        <div>
          <label>Effect:</label> {{redPlayer.ritual.effect}}
        </div>
        <div>
          <label>Element:</label> {{redPlayer.ritual.element}}
        </div>
        <div>
          <label>Power:</label> {{redPlayer.ritual.power >= 0 ? '+' : ''}}{{redPlayer.ritual.power}}
        </div>
      </div>

      <div class="switchUser">
        <div>
          <a (click)="switchToUser('red')">[Switch to Red]</a>
        </div>
      </div>
    </div>

    <div class="cardArea">
      <div class="activeCard">
        <app-card-set *ngIf="redPlayer.activeCard" [cards]="[redPlayer.activeCard]"></app-card-set>
      </div>

      <div class="ritual" *ngIf="playerHasRitual(redPlayer)">
        <app-card-set [cards]="redPlayer.ritual.cards" [updatedCardNames]="redRitualUpdates"></app-card-set>
      </div>
    </div>
  </div>
</div>
