/* card list styles */
ul.cardSet {
  list-style-type: none;
  margin: -15px 0 0 0;
  padding: 0;
}
ul.cardSet li {
  display: inline-block;
  vertical-align: top;
}

ul.cardSet li.updated {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

/* cards */
.card {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  width: 140px;
  margin: 15px 15px 0 0;
}
.card:last-child {
  margin-right: 0;
}

/* card selection */
.card.selected {
  border: 3px solid darkred;
}
.card.selectable {
  cursor: pointer; cursor: hand;
}

/* card header */
.cardHeader {
  background-color: gainsboro;
  border-bottom: 1px solid black;
  padding: 0 5px 0 5px;
  font-size: 0.75em;
  font-weight: bold;
  vertical-align: center;
  display: table;
  width: 130px;
}
/* clearfix */
.cardHeader:after {
  content: "";
  clear: both;
  display: table;
}
.cardName {
  display: table-cell;
  vertical-align: middle;
  width: 79px;
}
.cardManaCost {
  margin: 3px 3px 0 0;
  padding: 0 3px;
  background-color: white;
  border: 1px solid black;
  line-height: 20px;
  width: 14px;
  text-align: center;
  display: inline-block;
}
.cardCastingTime {
  margin: 3px 0;
  padding: 0 3px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 20px;
  width: 14px;
  text-align: center;
  display: inline-block;
}

.cardSet:hover .cardBody, .card.selected .cardBody {
  height: 121px;
  width: 132px;
}

.cardSet:hover .cardFooter, .card.selected .cardFooter {
  display: block;
}

/* card text */
.cardBody {
  height: 6px;
  overflow: hidden;
  padding: 4px;
  font-size: 0.75em;
  /*display: none;*/

  -webkit-transition: height 500ms;
  transition: height 500ms;
}
p {
  padding: 0;
  margin: 0;
}
p + p.special {
  margin-top: 8px;
}

/* card footer */
.cardFooter {
  border-top: 1px solid #ccc;
  padding: 4px;
  font-size: 0.5em;
  display: none;
}

/* base card styles */

.baseCard .cardBody {
  background-color: #efffef;
}
.baseCard .cardHeader {
  background-color: #cfffcf;
}
.baseCard .cardFooter {
  background-color: #cfffcf;
}

