/* player stats block */

.playerInfoBlock {
  display: inline-block;
  clear: both;
  margin-left: 8px;
  padding: 5px 10px 5px 10px;
  border-style:  solid;
  border-width: 1px 1px 1px 15px;
}
.bluePlayer.playerInfoBlock {
  border-color: #336699;
  background-color: #ddeeff;
}
.redPlayer.playerInfoBlock {
  border-left-color: #993333;
  background-color: #ffe0f0;
}

.cardArea {
  display: inline-block;
  float: left;
}

/* player active card */
.activeCard {
  margin: 0 8px 0 10px;
  padding: 16px 8px 16px 8px;
  vertical-align: center;
  width: 150px;
  height: 184px;
  min-height: 184px;
  border: 1px solid #999;
  float: left;
}
.activeCard .card {
  margin: 0;
}

.bluePlayer + .activeCard {
  background-color: #336699;
}
.redPlayer + .activeCard {
  background-color: #993333;
}

.ritual {
  float: left;
  margin-left: 4px;
  padding: 16px 16px 16px;
  border: 1px solid #666;
  min-height: 184px;
  width: 329px;

  white-space: nowrap;
  overflow-x: scroll;
}

.bluePlayer ~ .cardArea .ritual {
  background-color: #A3B1BF;
}
.redPlayer ~ .cardArea .ritual {
  background-color: #FBBABD;
}

/* version 2 styles */
.hardClear {
  width: 100%;
  clear: both;
}

.playerInfoBlock {
  margin-bottom: 20px;
  float: left;
}

/* shields */

.shields {
  margin-top: 12px;
  margin-left: 15px
}
.shields img {
  margin-left: 20px;
  float: left;
  width: 35px;
  height: 35px;
}
.shields img:first-of-type {
  margin-left: 0;
}
.shields span {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 16px;
}

/** afflictions */
.afflictions {
  clear: both;
}
.affliction {
  margin-top: 3px;
  clear: both;
  float: left;
}
.affliction:first-of-type {
  margin-top: 8px;
}
.affliction img {
  float: left;
  margin: 0 15px 0 0;
}
ul.afflictionTrack {
  display: inline-block;
  float: left;
  margin: 6px 0 0 0;
  padding: 0;
}
ul.afflictionTrack li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 3px 0 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid black;
}
ul.afflictionTrack li:nth-child(6), ul.afflictionTrack li:nth-child(11), ul.afflictionTrack li:nth-child(16) {
  margin-left: 9px;
}
.afflictionTrack li {
  background-color: white;
}
.affliction.chill .afflictionTrack li.full {
  background-color: #8bd5ed;
}
.affliction.burning .afflictionTrack li.full {
  background-color: #e34616;
}
.affliction.shock .afflictionTrack li.full {
  background-color: #f1df18;
}
