<div class="column-container playerStatsContainer">
  <div class="column playerStats">
    <div class="statsRow bluePlayer">
      <div class="basicStats">
        <div *ngIf="activePlayerColor === 'Blue'">
          <label>*</label>
        </div>
        <div>
          <label>H</label> x {{bluePlayer.health}}
        </div>
        <div>
          <label>M</label> x {{bluePlayer.mana}}
        </div>
        <div>
          <label>Cards</label> x {{bluePlayer.numberOfCardsInHand}}
        </div>
      </div>

      <div class="switchUser">
        <div>
          <button (click)="switchToUser('blue')">Switch User</button>
        </div>
      </div>
    </div>

    <div class="cardArea">
      <div>
        <div class="activeCard">
          <app-card-set *ngIf="bluePlayer.activeCard" [cards]="[bluePlayer.activeCard]"></app-card-set>
        </div>
      </div>

      <div class="ritual" *ngIf="playerHasRitual(bluePlayer)">
        <app-card-set [cards]="bluePlayer.ritual.cards" [updatedCardNames]="blueRitualUpdates"></app-card-set>

      </div>
    </div>
  </div>

  <div class="column playerStats">
    <!--<h4>Red Player</h4>-->
    <div class="statsRow redPlayer">
      <div class="playerStats">
        <div *ngIf="activePlayerColor === 'Red'">
          <label>*</label>
        </div>
        <div>
          <label>H</label> x {{redPlayer.health}}
        </div>
        <div>
          <label>M</label> x {{redPlayer.mana}}
        </div>
        <div>
          <label>Cards</label> x {{redPlayer.numberOfCardsInHand}}
        </div>
      </div>

      <div class="switchUser">
        <div>
          <button (click)="switchToUser('red')">Switch User</button>
        </div>
      </div>
    </div>

    <div class="cardArea">
      <div class="activeCard">
        <app-card-set *ngIf="redPlayer.activeCard" [cards]="[redPlayer.activeCard]"></app-card-set>
      </div>

      <div class="ritual" *ngIf="playerHasRitual(redPlayer)">
        <app-card-set [cards]="redPlayer.ritual.cards" [updatedCardNames]="redRitualUpdates"></app-card-set>
      </div>
    </div>
  </div>
</div>
