
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  font-family: Arial;
  /*background-color: #eee;*/
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

ul.timeTrack {
  margin: 0;
  padding: 0;
}
ul.timeTrack li {
  list-style-type: none;
  display: inline-block;
}
div.timeTrackSpaceContainer {
  margin: 0 5px 0 5px;
}

div.timeTrackSpace {
  display: inline-block;
  border: 1px solid gray;

  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

div.timeTrackSpace.currentTick {
  border: 1px solid darkred;
  background-color: lightpink;
}

.timeTracker {
  width: 3px;
  height: 5px;
  margin: 1px 0 8px 0;
  border: 1px solid gray;
  visibility: hidden;
}
.timeTracker.bluePlayer {
  margin-right: 2px;
}
.timeTracker.showTimeTracker {
  visibility: visible;
}

/* market */

/* hand and market action rows */
.actions {
  margin: 16px 0 8px 0;
}
.actions button {
  margin: 0;
}

/* user input section */

.section.userInput div {
  margin-left: 16px;
}

.userInput label {
  width: unset;
  color: #333;
}
.userInput button {
  margin-top: 12px;
}

.selectionPrompt {
  background-color: #FEEFB3;
  padding: 8px;
  margin-bottom: 8px;
}

.ritualActions {
  margin-top: 8px;
  padding: 8px 8px 8px 0;
  border-top: 1px solid black;
}
.ritualActions div {
  display: inline-block;
}

.ritualStatus {
  float: right;
}
.ritualStatus div {
  display: inline-block;
  margin-right: 10px;
}
.ritualStatus div:last-child {
  display: inline-block;
  margin-right: 0;
}
.ritualStatus label {
  width: unset;
  margin: 2px;
}

.debugInformation label {
  width: 150px;
}
