<script src="../../service/game.service.ts"></script>
<div *ngIf="game && rules">

  <!--<div class="section">
    <h3>General</h3>
    <div>
      <label>Library: </label>
      {{game.numberOfCardsInLibrary}}
    </div>
    <div>
      <label>Active Player: </label>
      {{game.activePlayerColor}}
    </div>
    <div>
      <label>Expected Input: </label>
      {{game.expectedInput}}
    </div>
  </div>-->

  <div class="section">
    <ul class="timeTrack">
      <li *ngFor="let n of range(0, rules.ticksPerPhase - 1)">
        <div class="timeTrackSpaceContainer">
          <div class="timeTrackSpace" [ngClass]="{currentTick: game.currentTick == n}">
            <div>{{n}}</div>
          </div>
          <div class="column-container">
            <div class="column timeTracker bluePlayer" [ngClass]="{showTimeTracker: game.bluePlayer.nextTurnTick == n}"></div>
            <div class="column timeTracker redPlayer" [ngClass]="{showTimeTracker: game.redPlayer.nextTurnTick == n}"></div>
          </div>
        </div>
      </li>
    </ul>

    <app-player-stats [gameId]="game.id" [bluePlayer]="game.bluePlayer" [redPlayer]="game.redPlayer" [blueRitualUpdates]="getUpdatedRitualCards('Blue')" [redRitualUpdates]="getUpdatedRitualCards('Red')" [activePlayerColor]="game.activePlayerColor"></app-player-stats>

    <div class="column-container">
      <div class="column ritualActions">
        <div *ngIf="game.currentUserColor == 'Blue'">
          <button (click)="completeRitual()">Complete Ritual</button>
        </div>
        <div class="ritualStatus">
          <div>
            <label>Effect:</label> {{game.bluePlayer.ritual.effect}}
          </div>
          <div>
            <label>Element:</label> {{game.bluePlayer.ritual.element}}
          </div>
          <div>
            <label>Power:</label> {{game.bluePlayer.ritual.power >= 0 ? '+' : ''}}{{game.bluePlayer.ritual.power}}
          </div>
        </div>
      </div>
      <div class="column ritualActions">
        <div *ngIf="game.currentUserColor == 'Red'">
          <button (click)="completeRitual()">Complete Ritual</button>
        </div>
        <div class="ritualStatus">
          <div>
            <label>Effect:</label> {{game.redPlayer.ritual.effect}}
          </div>
          <div>
            <label>Element:</label> {{game.redPlayer.ritual.element}}
          </div>
          <div>
            <label>Power:</label> {{game.redPlayer.ritual.power >= 0 ? '+' : ''}}{{game.redPlayer.ritual.power}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isMyTurn() && game.inputRequest.type === 'TextEntry'">
    <div class="section userInput">
      <h3>Input Needed</h3>
      <div>
        <label>{{game.inputRequest.prompt}}</label>
      </div>
      <div>
        <input [(ngModel)]="userInput" placeholder="Enter a value"/>
      </div>
      <div>
        <button (click)="confirmUserInput()">Submit</button>
      </div>
    </div>
  </div>

  <div *ngIf="game.hand !== null">
    <div class="section">
      <h3>Hand</h3>
      <div *ngIf="getHandSelectionPrompt() !== null" class="selectionPrompt">
        {{getHandSelectionPrompt()}}
      </div>
      <app-card-set [cards]="game.hand" [selectionEnabled]="isHandSelectionEnabled()"></app-card-set>
      <div class="actions">
        <button (click)="confirmHandSelection()" [disabled]="!getSelectedCardFromHand()">Confirm Selection</button>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>Market</h3>
    <app-card-set [cards]="game.market" [selectionEnabled]="isMarketSelectionEnabled()"></app-card-set>
    <div class="actions">
      <button (click)="confirmMarketSelection()" [disabled]="!getSelectedCardFromMarket()">Confirm Selection</button>
    </div>
  </div>

  <!--<button (click)="goBack()">Back</button>-->
  <!--<button (click)="save()">Save</button>-->
</div>

