
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  font-family: Arial;
  /*background-color: #eee;*/
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.attunementIcon {
  display: inline-block;
  float:left;
}

ul.timeTrack {
  margin: 0;
  padding: 0;
  display: inline-block;
}
ul.timeTrack li {
  list-style-type: none;
  display: inline-block;
}
div.timeTrackSpaceContainer {
  margin: 0 5px 0 5px;
  padding-top: 5px;
}

div.timeTrackSpace {
  display: inline-block;
  border: 1px solid gray;

  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

div.timeTrackSpace.currentTick {
  border: 1px solid darkred;
  background-color: lightpink;
}

.timeTracker {
  width: 3px;
  height: 5px;
  margin: 1px 0 8px 0;
  border: 1px solid gray;
  visibility: hidden;
}
.timeTracker.bluePlayer {
  margin-right: 2px;
}
.timeTracker.showTimeTracker {
  visibility: visible;
}

/* market */

/* hand and market action rows */
.actionsAndContentContainer {
  display: flex;
}
.actionsAndContentContainer .actionSection h3 {
  background-color: transparent;
}
.actionSection {
  display: inline-block;
  float: left;
  margin: 0 8px 8px 8px;
  height: 100%;
  text-align: center;

  flex: 0 0 136px;
}
.contentSection {
  display: inline-block;
  margin-left: 8px;
  padding-left: 32px;
  border-left: 1px solid #999;
  flex: 1 1 auto;
}
.actions button {
  margin: 0;
}

/* user input section */
.userInput label {
  width: unset;
  color: #333;
}
.userInput button {
  margin-top: 12px;
}

/* user input section */
.section.userInput {
  height: 0;
  overflow: hidden;
  background-color: #FEEFB3;
  border: 1px solid #666;
}
.section.userInput.visible {
  height: 115px;

  -webkit-transition: height 500ms linear;
  -moz-transition: height 500ms linear;
  -ms-transition: height 500ms linear;
  -o-transition: height 500ms linear;
  transition: height 500ms linear;
}

.selectionPrompt {
  height: 0;
  overflow: hidden;
  padding: 0;

  background-color: #FEEFB3;
  font-size: 1.3em;
  margin-bottom: 8px;
}
.selectionPrompt.visible {
  height: 24px;
  padding: 8px;

  -webkit-transition: height 150ms linear;
  -moz-transition: height 150ms linear;
  -ms-transition: height 150ms linear;
  -o-transition: height 150ms linear;
  transition: height 150ms linear;
}

.ritualActions {
  margin-top: 8px;
  padding: 8px 8px 8px 0;
  border-top: 1px solid black;
}
.ritualActions div {
  display: inline-block;
}

.ritualStatus {
  float: right;
}
.ritualStatus div {
  display: inline-block;
  margin-right: 10px;
}
.ritualStatus div:last-child {
  display: inline-block;
  margin-right: 0;
}
.ritualStatus label {
  width: unset;
  margin: 2px;
}

/* power cards */
.powerCard {
  display: inline-block;
  margin-left: -220px;
  width: 220px;
  height: 140px;
  line-height: 140px;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 6em;
  vertical-align: top;
}
.powerCard:first-of-type {
  margin-left: 0;
}
.drawPile .powerCard.empty, .discardPile .powerCard.empty {
  background-color: white;
  border: 1px dashed black;
}
.drawPile, .discardPile {
  display: inline-block;
}
.drawPile h4, .discardPile h4 {
  margin: 8px;
}
.discardPile {
  margin-left: 24px;
}
.discardPile .powerCard {
  background-color: #DEB887;
  /*background-image: url('../../../assets/images/card_front_texture.jpg');*/
  /*background-size: 1;*/
}

.debugInformation label {
  width: 150px;
}

